{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        {% include 'sidebar.html' %}

        <div class="col-md-9">
            <h3 class="text-success mb-4"><i class="fa fa-add"></i> Add Blog Posts</h3>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <label for="title_id" class="form-label">Title</label>
                <input type="text" name="title" id="title_id" class="form-control" value="{{blog.title}}"><br>

                <label for="category_id" class="form-label">Category</label>
                <select name="category" id="category_id" class="form-select">

                    {% for i in categories %}
                    <option value="{{i.id}}" {% if blog.category_blog.id == i.id %}selected{% endif %}>{{i.category}}
                    </option>
                    {% endfor %}
                </select> <br>

                <label for="image_id" class="form-label">Image</label>
                <input type="file" name="image" id="image_id" class="form-control">
                {% if blog.feature_image %}
                <img src="{{ blog.feature_image.url }}" width="100" class="mt-2">
                {% endif %}
                <br>
                <br>

                <label for="short_desc" class="form-label">Short Description</label>
                <textarea name="short_desc" id="short_desc" class="form-control "
                    rows="5">{{blog.short_description}}</textarea> <br>

                <label for="long_desc" class="form-label">Long Description</label>
                <textarea name="long_desc" id="long_desc" class="form-control" rows="7">{{blog.blog_body}}</textarea>
                <br>

                <label for="status" class="form-label">Status</label>
                <select name="status" id="status" class="form-select">
                    {% for key,value in blog.status_choice %}
                    <option value="{{key}}" {% if blog.status == key %}selected{% endif %}>{{value}}</option>
                    {% endfor %}
                </select> <br>

                <label for="feature" class="form-label">Is Feature</label>
                <input type="checkbox" name="feature" id="feature" class="form-check-input" {% if blog.is_featured %} checked {% endif %}> <br>


                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                <button type="submit" class="btn btn-warning">Update</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}