{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% include 'sidebar.html' %}

        <div class="col-md-9">
            

            <!-- Heading and Add button in same row -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="mb-0">Blog Posts</h3>
                <a href="{% url 'add_post' %} " class="text-success text-decoration-none fs-4 mb-3 "><i class="fa fa-add"></i> Add</a>
            </div>

            <table class="table table-light table-striped">
                <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Author</th>
                        <th>Status</th>
                        <th>Featured</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for i in post %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.title }}</td>
                        <td>{{ i.category_blog }}</td>
                        <td>{{ i.author }}</td>
                        <td>
                            {% if i.status == 'published' %}
                                    <span class="badge bg-success">Published</span>
                                {% else %}
                                <span class="badge bg-danger">Draft</span>
                                {% endif %}
                        </td>
                        <td>
                            {% if i.is_featured == 1 %}
                                <span><i class="fa-solid fa-square-check text-success"></i></span>
                            {% else %}
                             <span><i class="fa-solid fa-square-xmark text-danger"></i></span>
                             {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'edit_post' i.id %}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                            <a href="?dlt={{i.id}}" onclick="return confirm('Are You sure to delete')" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        </div>


       
    </div>
</div>



{% endblock %}