{% extends 'base.html' %}

{% block content %}
 
 
<main class="container">
<!-- Feature_post  -->
  {% if keyword %}
<h3 class="text-success   fw-bold mx-2 my-4 " style="letter-spacing: 2px;">Search Term - {{keyword}}</h3>
 
<div class="row mb-2">
   

    {% for i in blog %}
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-3 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">{{i.category_blog.category}}</strong>
                <h3 class="mb-0"> {{i.title}}</h3>
                <div class="mb-1 text-body-secondary">{{i.updated_at|timesince}} ago | {{i.author}}</div>
                <p class="card-text mb-auto">
                    {{i.short_description}}
                </p>
                <a href="{% url 'slug_blogs' i.slug %}" class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
            {% if i.feature_image %}
            <div class="col-auto d-none d-lg-block">
                <img src="{{ i.feature_image.url }}" alt="{{ i.title }}" width="200" height="250"
                    class="bd-placeholder-img" style="object-fit: cover;">
            </div>
            {% endif %}
        </div>
    </div>
 {% endfor %}
  
</div>
 
    {% else %}
     <h3>No Posts Found</h3>
    {% endif %}
</main>


{% endblock %}