{% extends 'base.html' %}

{% block content %}
 

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ slug.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{ slug.created_at }} by {{ slug.author }}</div>
                    <!-- Post category-->
                    <a class="badge bg-warning text-decoration-none text-light" href="#!">{{ slug.category_blog }}</a>
                </header>
                <!-- Preview image figure-->
                 {% if slug.feature_image %}
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ slug.feature_image.url }}" alt="..." /></figure>
                {% endif %}
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ slug.short_description }}</p>
                    <p class="fs-5 mb-4">{{ slug.blog_body }}</p>

                    <!-- Comments -->
                    <h4>Comments ({{ comment_count }})</h4>
                    {% if comments %}
                        {% for comment in comments %}
                            <div class="card mt-1">
                                <div class="card-body">
                                    <p class="card-text mb-0">{{ comment }}</p>
                                    <span>
                                        <small>By {{ comment.user }}</small>
                                        <small>| {{ comment.created_at | timesince }} ago</small>
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    No comments yet.
                    {% endif %}
                    <br>
                    <div class="form-group">
                
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea name="comment" class="form-control" placeholder="Write your comment"></textarea>
                                <input type="submit" value="Submit" class="btn btn-primary mt-2">
                            </div>

                        </form>
                    
                        <p>Please <span><a href=" ">login</a></span> to write a comment!</p>
             
                    </div>

                </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            
            <!-- Categories widget-->
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Categories</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for i in categories %}
                                <li><a href="{% url 'posts_category' i.id %}">{{i.category}} </a></li>
                                 {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
           
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Follow Us</h4>
                <ol class="list-unstyled">
                    
                    <li><a href=" " target="_blank">Instagram </a></li>
                    <li><a href=" " target="_blank">Twitter </a></li>
                    <li><a href=" " target="_blank">Facebook </a></li>
                   
                </ol>
            </div>
         
        </div>
    </div>
</div>

 

{% endblock %}